SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_taxo_vers](
	[vers_taxo] [varchar](256) NOT NULL,
	[ubic_taxo] [varchar](256) NULL,
	[tipo_taxo] [varchar](4) NULL,
 CONSTRAINT [PK_xbrl_taxo_vers] PRIMARY KEY CLUSTERED 
(
	[vers_taxo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
