SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_defi_pers2](
	[codi_pers] [numeric](9, 0) NOT NULL,
	[desc_pers] [varchar](100) NULL,
 CONSTRAINT [PK_dbax_defi_pers2] PRIMARY KEY CLUSTERED 
(
	[codi_pers] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
