SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_dime_axis](
	[codi_axis] [varchar](256) NOT NULL,
	[pref_axis] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dbax_dime_axis] PRIMARY KEY CLUSTERED 
(
	[codi_axis] ASC,
	[pref_axis] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
