SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_tipo_conc](
	[tipo_conc] [varchar](20) NOT NULL,
	[desc_conc] [varchar](100) NOT NULL,
	[tipo_elem] [nchar](10) NOT NULL,
 CONSTRAINT [PK_xbrl_tipo_conc] PRIMARY KEY CLUSTERED 
(
	[tipo_conc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
