SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_codi_fech](
	[desc_fech] [varchar](100) NOT NULL,
	[codi_fech] [varchar](100) NOT NULL,
	[tipo_fech] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
