SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbax_tabl_temp](
	[codi_colu1] [varchar](256) NOT NULL,
	[codi_colu2] [varchar](256) NOT NULL,
	[codi_colu3] [varchar](256) NULL,
	[codi_colu4] [varchar](256) NULL,
	[codi_colu5] [varchar](256) NULL,
	[codi_colu6] [varchar](256) NULL,
	[tipo_dato] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
