SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbne_defi_lang](
	[codi_lang] [varchar](50) NOT NULL,
	[desc_lang] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbne_defi_lang] PRIMARY KEY CLUSTERED 
(
	[codi_lang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
