SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbne_usua](
	[codi_usua] [varchar](30) NOT NULL,
	[pass_usua] [varchar](34) NOT NULL,
	[fech_usua] [datetime] NOT NULL,
 CONSTRAINT [PK_dbne_usua] PRIMARY KEY CLUSTERED 
(
	[codi_usua] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
