USE [dbaxBI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BI_SG_Fact_Table]
AS
SELECT     codi_segm COLLATE Modern_Spanish_CI_AS AS codiSegm, codi_ramo COLLATE Modern_Spanish_CI_AS AS codiRamo, 
                      sub_ramo COLLATE Modern_Spanish_CI_AS AS subRamo, codi_pers COLLATE Modern_Spanish_CI_AS AS codiPers, 
                      codi_conc COLLATE Modern_Spanish_CI_AS AS codiConc, codi_cntx, valo_cntx, valo_refe, valo_inte
FROM         (SELECT     CAST(p.codi_segm AS varchar(30)) COLLATE Modern_Spanish_CI_AS AS codi_segm, dbax.dbo.dbax_bi_getPeriodo(ir.fini_cntx, ir.ffin_cntx) 
                                              AS codi_cntx, CAST(ic.codi_pers AS varchar(30)) COLLATE Modern_Spanish_CI_AS AS codi_pers, 
                                              CAST(ir.codi_ramo AS varchar(30)) COLLATE Modern_Spanish_CI_AS AS codi_ramo, CAST(ISNULL(ir.codi_subr, '0') 
                                              AS varchar(50)) COLLATE Modern_Spanish_CI_AS AS sub_ramo, CAST(dbax.dbo.dbax_bi_getConcepto(p.codi_segm, cc.codi_conc) 
                                              + '_' + dc.codi_dime AS varchar(256)) COLLATE Modern_Spanish_CI_AS AS codi_conc, ic.valo_cntx, REPLACE(ic.valo_refe, ',', '.') 
                                              AS valo_refe, REPLACE(ic.valo_inte, ',', '.') AS valo_inte, '' AS codi_ramoo
                       FROM          dbax.dbo.dbax_defi_pers AS p INNER JOIN
                                              dbo.ZZ_inst_conc AS ic ON p.codi_pers = ic.codi_pers INNER JOIN
                                              dbax.dbo.dbax_dime_conc AS dc ON ic.pref_conc = dc.pref_conc AND ic.codi_conc = dc.codi_conc INNER JOIN
                                              dbo.ZZ_inst_ramo AS ir ON ic.corr_inst = ir.corr_inst AND ic.codi_pers = ir.codi_pers AND ic.vers_inst = ir.vers_inst AND 
                                              ic.codi_cntx = ir.codi_cntx INNER JOIN
                                              dbax.dbo.dbax_desc_conc AS cc ON ic.pref_conc = cc.pref_conc AND ic.codi_conc = cc.codi_conc
                       WHERE      (p.codi_segm LIKE 'SEGURO%') AND (dc.codi_dein LIKE '%cuadro%') AND (ic.vers_inst =
                                                  (SELECT     MAX(vers_inst) AS Expr1
                                                    FROM          dbax.dbo.dbax_inst_vers AS v
                                                    WHERE      (corr_inst = ic.corr_inst) AND (codi_pers = ic.codi_pers))) AND (ic.valo_cntx <> '0') AND (ir.corr_inst1 = ir.corr_inst)) AS tmp
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tmp"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BI_SG_Fact_Table'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BI_SG_Fact_Table'
GO
