USE [dbaxBI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PF_04_Ramos](
	[PKRamo] [varchar](80) NOT NULL,
	[CodigoRamo] [varchar](50) NOT NULL,
	[Ramo] [varchar](80) NOT NULL,
	[NumeroRamo] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Ramos] PRIMARY KEY CLUSTERED 
(
	[PKRamo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
