USE [dbaxBI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PF_05_SubRamos](
	[PKSubRamo] [varchar](80) NOT NULL,
	[CodigoSubRamo] [varchar](50) NOT NULL,
	[SubRamo] [varchar](80) NOT NULL,
	[NumeroSubRamo] [varchar](10) NULL,
 CONSTRAINT [PK_SubRamos] PRIMARY KEY CLUSTERED 
(
	[PKSubRamo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
