USE [dbaxBI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BI_SG_SubRamos]
AS
SELECT     codi_conc COLLATE Modern_Spanish_CI_AS AS codiRamo, desc_ramo COLLATE Modern_Spanish_CI_AS AS descRamo, nume_ramo AS numeRamo, 
                      codi_segm COLLATE Modern_Spanish_CI_AS AS codiSegm
FROM         dbax.dbo.dbax_defi_ramo
WHERE     (tipo_ramo = 'S') AND (codi_segm = 'SEGUROGRAL') AND (codi_ramo <> '0')
UNION
SELECT     codi_conc COLLATE Modern_Spanish_CI_AS AS codi_ramo, desc_ramo COLLATE Modern_Spanish_CI_AS AS Expr1, nume_ramo, 
                      codi_segm COLLATE Modern_Spanish_CI_AS AS Expr2
FROM         dbax.dbo.dbax_defi_ramo AS dbax_defi_ramo_1
WHERE     (tipo_ramo = 'S') AND (codi_segm = 'SEGUROVIDA') AND (codi_ramo <> '0') AND (codi_conc IS NOT NULL)
UNION
SELECT     '0' COLLATE Modern_Spanish_CI_AS AS codi_ramo, 'Total Sub-Ramos' COLLATE Modern_Spanish_CI_AS AS desc_ramo, '0' AS nume_ramo, 
                      codi_segm COLLATE Modern_Spanish_CI_AS AS Expr1
FROM         dbax.dbo.dbax_defi_segm
WHERE     (codi_segm LIKE 'SEGURO%')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 3945
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 5
         Column = 4380
         Alias = 1350
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BI_SG_SubRamos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BI_SG_SubRamos'
GO
