<appSettings>
  <add key="Login" value="dbaxdesa" />
  <add key="ServerType" value="SQLSERVER" />
  <add key="DataServer" value="192.168.2.36" />
  <add key="DataBase" value="dbaxdesa" />
  <add key="User" value="dbaxdesa" />
  <add key="Password" value="nopfC1" />
  <add key="Owner" value="dbaxdesa" />
  <add key="nError" value="100" />
  <add key="nErrorFin" value="100" />
  <add key="Path" value="C:\Inetpub\wwwroot\PrismaDesa\" />
  <add key="Culture" value="CL" />
  <add key="Modulo" value="DBNeT - Prisma Financiero" />
</appSettings>

