<appSettings>
  <add key="Login" value="dbax" />
  <add key="ServerType" value="SQLSERVER" />
  <add key="DataServer" value="192.168.14.5" />
  <add key="DataBase" value="dbax" />
  <add key="User" value="dbax" />
  <add key="Password" value="nopfC1" />
  <add key="Owner" value="dbax" />
  <add key="nError" value="100" />
  <add key="nErrorFin" value="100" />
  <add key="Path" value="C:\DBNeT\DBAX\dbax\dbsWebNet\DBNeT.DBAX.Vista\" />
  <add key="Culture" value="CL" />
  <add key="Modulo" value="dbax" />
  <add key="RutaArchivosExpoData" value="C:\DBNeT\DBAX\dbax\dbsWebNet\DBNeT.DBAX.Vista\temp\" />
  <add key="RutaExpoData" value="C:\DBNeT\DBAX\dbax\dbsWebNet\DBNeT.DBAX.Vista\temp\" />
</appSettings>